*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-image: url(images/1000_F_321710306_h5jdGiQQtGyylQv8pojT3kDFSDViufgR.jpg);
    background-repeat: repeat; */
    /* background-size: cover; */
    background-image: linear-gradient(to right,rgba(120, 89, 89, 0),rgba(34, 14, 14, 0.416),rgba(120, 89, 89, 0.597),rgba(34, 14, 14, 0.745));
    /* background-color: rgba(213, 172, 90, 0.833); */
}
.main{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    
}
.nav{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 9, 9, 0.525);
    /* opacity: 0.7; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.menu{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: white;
    /* opacity: 1; */
}
.nav-item{
    cursor: pointer;
}
.nav-item:hover{
    color: blue;
    scale: 1.1;
    /* border-bottom: 3px solid white; */
    /* border-color: lin; */
}
#add{
    display: none;
}
#log,#sign{
    border: 1px solid white;
    border-radius: 20px;
    height: 30px;
    width: 65px;
    font-weight: 540;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: azure;
    color: blueviolet;
}
#logout{
    display: none;
    border: 1px solid white;
    border-radius: 20px;
    height: 30px;
    width: 75px;
    text-align: center;
    padding-top: 5px;
    font-weight: 540;
    cursor: pointer;
    background-color: azure;
    color: blueviolet;

}
#sign{
    width: 77px;
}
#log:hover,#sign:hover,#logout:hover{
    scale: 1.1;
    border-radius: 20px;
    border: 2px solid white;
    background-color: wheat;
    color:black;
}
.logo{
    padding-left: 40px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor:pointer;
}
.logo:hover{
    scale: 1.2;
}

/* .product{
    display: grid;
    grid-template-columns: auto auto auto;
} */

.product {
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-between; */
    padding: 1em;
}

.product-item {
    border: 5px solid gray;
    border-radius: 20px;
    width: 310px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 1px; */
    /* background-color: white; */
    /* opacity: 0.9; */
}
.product-desc{
    width: inherit;
    text-align: center;
    color: white;
    height: 115px;
    background-color: black ;
    /* border-radius:0px 0px  16px; */
    padding: 5px;
    /* padding-top: 15px; */
    overflow-y:scroll;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
}
.product-desc::-webkit-scrollbar{
    width: 10px;
    /* height: 200px; */
    /* background-color:grey ; */
    border-radius: 40px;

}

.price{
    width: inherit;
    height: 57px;
    text-align: center;
    color: white;
    /* border-top: 2px solid gray; */
    background-color:gray;
    border-radius:0px 0px 16px 16px;
    padding: 4px;
}
.product-img{
    width: 310px;
    height: 250px;
    object-fit: cover;
    border-bottom: 5px solid gray;
    border-radius: 16px 16px 0px 0px;
    
}
.product-img img {
    width: 310px;
    height: 250px;
    object-fit: cover;
    border-bottom: 5px solid gray;
    border-radius: 16px 16px 0px 0px;
    
}

@media (max-width:800px){
    .menu{
        width: 60%;
    }
}